<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, inital-scale=1">
     <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>{% block title  %}Home{% endblock %}</title>
</head>
<body>
    <nav class ="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="p-3 bg-dark text-white" id="navbar">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <img class="featurette-image img-fluid mx-auto" src="https://cdn.discordapp.com/attachments/708927751591297064/975678816586448936/20220516_0139100.5850418015452257.png" alt="Logo" width="40" height="50" align="right">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
        </ul>
            {% if user.is_authenticated %}

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/inventory" class="nav-link px-2 text-white">Store</a></li>
                <li><a href="/addproduct" class="nav-link px-2 text-white">+Product</a></li>
                <li><a href="/discounts" class="nav-link px-2 text-white">Offers</a></li>
                <li><a href="/user-profile" class="nav-link px-2 text-white">View Profile</a></li>
                <li><a href="/edit-user-profile" class="nav-link px-2 text-white">Edit Profile</a></li>
                <li><a href="/delete" class="nav-link px-2 text-white">Delete Account</a></li>
                <li><a href="/checkout" class="nav-link px-2 text-white">Checkout</a></li>
                <li><a href="/logout" class="nav-link px-2 text-white">Logout</a></li>
            </ul>

            <a class ="nav-item nv-link" id="addproduct" href="/addproduct">|        Add a Product    |</a>
            <a class ="nav-item nv-link" id="addbrand" href="/addbrand">|        Add a genre    |</a>
            <a class ="nav-item nv-link" id="addcategory" href="/addcategory">|        Add an artist    |</a>

            <a class ="nav-item nv-link" id="logout" href="/logout">|        Logout    |</a>
            <a class ="nav-item nv-link" id="userProfile" href="/userProfile">|       View Profile    |</a>
            <a class ="nav-item nv-link" id="editUserProfile" href="/editUserProfile">|        Edit Profile    |</a>
            <a class ="nav-item nv-link" id="checkout" href="/checkout">|        Checkout    |</a>

            {% else %}
            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/login" class="nav-link px-2 text-white">Login</a></li>
                    <li><a href="/sign-up" class="nav-link px-2 text-white">Sign-up</a></li>

                </ul>
            </div>
            {% endif %}
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-white">Policies</a></li>

                    <li><a href="/carts" class="nav-link px-2 text-white">Shopping Cart</a></li>
                    <li><a href="/wish" class="nav-link px-2 text-white">Wish list</a></li>
                </ul>

                </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" align="right">
                <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search" >

            </form>

            </div>
        </div>

    </div>
          <form class="form-inline my-2 my-lg-0" action="{{url_for('a.result')}}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
          </form>
        </a>

        <img class="featurette-image img-fluid mx-auto" src="https://cdn.discordapp.com/attachments/708927751591297064/975678816586448936/20220516_0139100.5850418015452257.png" alt="Logo" width="50" height="50" align="right">


    </div>


    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class ="container">
        {% block dablock %}
        {% endblock %}
    </div>
        <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    </body>
</html>
