{% extends "base.html" %}
{% block title  %}Contact Us{% endblock %}

{% block dablock %}
<body class="text-center">
<div class="contact">
    <img class="mb-4" src="https://cdn.discordapp.com/attachments/944007141688242226/975674774695071784/20220516_0123080.29187647859901744.png" alt="" width="200" height="200">
    <h1 class="h3 mb-3 fw-normal">Contact Us</h1>
<!-- Just here i use "url_for" to call the function get_contact.
         This function return the html code of our contact page-->
    <form action="{{ url_for('a.get_contact') }}" method=post>
        <div>
            <!-- name forms -->
            <p>
                {{ form.name.label }} <br>
                {{ form.name(placeholder='Your name') }}
            </p>
            <!-- email forms -->
            <p>
                {{ form.email.label }} <br>
                {{ form.email(placeholder='Your e-mail ...') }}
            </p>
            <!-- Subject of your request -->
            <p>
                {{ form.subject.label }}<br>
                {{form.subject(placeholder='Your subject ...')}}
            </p>
            <!-- Content of your request -->
            <p>
                {{ form.message.label }}<br>
                {{ form.message(placeholder='write your request ...') }}
            </p>
            <!-- Submit button -->
            <p>
                {{ form.submit }}
            </p>
        </div>
    </form>
</div>
</body>
{% endblock %}