{% extends "base.html"%}

{% block dablock %}


<div class="container">
<table class ="table table-sm">
    <table class="table table-sm table-bordered">
    <thead>
        <th>Index</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tb>
        {% if genre %}
        {% for brand in genre %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{brand.name}}</td>
            <td> <a href="{{url_for('a.updategenres', id=brand.id)}}" class = "btn btn -sm btn-outline-info">Edit</a> </td>
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{brand.id}}">
            Delete</button>
        </tr>


<!-- Modal -->
<div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ brand.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you Sure that you want to delete this brand ({{ brand.name }}) </p>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('a.deletegenre',id=brand.id)}}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>
    </div>
  </div>
</div>

        {% endfor %}
        {% else %}


        {% for category in artists %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{category.name}}</td>
            <td> <a href="{{url_for('a.updateartists', id=category.id)}}" class = "btn btn -sm btn-outline-info">Edit</a> </td>
            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal-{{category.id}}">
            Delete</button>

            <!-- Modal -->
<div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ category.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">Are you Sure that you want to delete this brand ({{ category.name }}) </p>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('a.deleteartist',id=category.id)}}" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </div>
    </div>
  </div>
</div>
        {% endfor %}
        {% endif %}

    </tb>
</table>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022-2022 Vinyl Hills</p>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="/returnpolicy">Terms</a></li>
        <li class="list-inline-item"><a href="/contact">Support</a></li>
        </ul>
    </footer>
</div>
{% endblock dablock %}