{% extends "base.html" %}
{% block title  %}Sign up{% endblock %}

{% block dablock %}

<form method ="POST" class="text-center">
    <img class="mb-4" src="https://cdn.discordapp.com/attachments/944007141688242226/975674774695071784/20220516_0123080.29187647859901744.png" alt="" width="200" height="200">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    <div class ="form-group">
        <label for ="email">Email Address</label>
            <input type="email"
                   class ="form-control"
                   id ="email"
                   name ="email"
                   placeholder ="Enter email"
            />
    </div>
    <div class ="form-group">
        <label for ="firstName">first Name</label>
            <input type="text"
                   class ="form-control"
                   id ="firstName"
                   name ="firstName"
                   placeholder ="Enter first name"
            />
    </div>
    <div class ="form-group">
        <label for ="password1">password</label>
            <input type="password"
                   class ="form-control"
                   id ="password1"
                   name ="password1"
                   placeholder ="Enter password"
                   />
    </div>
        <div class ="form-group">
        <label for ="password1">password confirm</label>
            <input type="password"
                   class ="form-control"
                   id ="password2"
                   name ="password2"
                   placeholder ="Confirm password"
                   />
    </div>
    <br />
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022–2022</p>
</form>
{% endblock %}