{% extends "base.html" %}

{% block dablock %}

<div class = "container">
    <div class ="row">
        <div class ="col-md-3"></div>
        <div class ="col-md-6"></div>
        {% if updategenres %}
            <form action ="" method ="POST">
                <input type ="text" name ="brand" class = "form-control" value ="{{updategenres.name}}">
                <input type ="submit" value ="Update genre" class ="btn btn-info mt-2">
            </form>
        <a href="{{url_for('views.home')}}"> Cancel</a>
            {% else %}
            <form action ="" method ="POST">
                <input type ="text" name ="category" class = "form-control" value ="{{updateartists.name}}">
                <input type ="submit" value ="Update Artist" class ="btn btn-info mt-2">
            </form>
        <a href="{{url_for('views.home')}}"> Cancel</a>
            {% endif %}
    </div>
</div>

{%endblock dablock %}